.related-product-image img {
    width:inherit;
    height: inherit;
}

.related-product-image {
    border:1px solid pink;
    width: 100%;
    height:280px;
    float: left;
    margin: 3px;
    padding: 3px;
}

@media screen and (min-width: 1200px) {
    .product-image img {
        width:inherit;
        height: inherit;
    }

    .product-image {
        border:1px solid pink;
        width: 214px;
        height:214px;
        float: left;
        margin: 3px;
        padding: 3px;
    }

    .product-title {
        /*border:0px solid pink;*/
        width: 100%;
        height:50px;
        float: left;
        /*margin: 3px;*/
        /*padding: 3px;*/
    }

}

@media screen and (min-width: 1000px) {
    .product-image img {
        width:inherit;
        height: inherit;
    }

    .product-image {
        /*border:1px solid pink;*/
        /*width: 100%;*/
        height:190px;
        /*float: left;*/
        margin: 1px;
        padding: 1px;
    }

    .product-title {
        /*border:0px solid pink;*/
        width: 100%;
        height:25px;
        float: left;
        /*margin: 3px;*/
        /*padding: 3px;*/
    }

}